@import "tailwindcss";

html,
body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Fullscreen Canvas Container */
.canvas-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

::selection {
    background-color: black;
    color: white;
}

::-moz-selection {
    background-color: black;
    color: white;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}